<!-- <div class="container" style="background-color:#addfe0; max-height=100%">
<br> -->

<img src="/assets/img/logo.png" alt="eat-burger-logo" >

<div class="burger-box">
    <p>Add a burger you would like to try.</p>
        <div class= "form-box">
          <form action="/" method="POST">
          	<textarea type="text" id="burgerInput" name="burger" ></textarea> <br>

          	<button type="submit">ADD BURGER</button>
          </form>
        </div>
</div>

<div id="burgerToEat">
<p class = "burgers-to-eat">BURGERS TO EAT</p>

    <ol class ="each-burger">
      {{#each burgers}}
            <!-- {{this.id}}. {{this.burger_name}} -->

            <!-- <form action="/api/burgers/{{this.id}}" method="POST"> -->
            <!-- <button data-burgerid="{{this.id}}" class="">EAT IT</button> -->
            {{> burger/burger-block devoured=this.devoured name=this.burger_name}}
        <!-- </form> -->
      {{/each}}
  </ol>
</div>


    <div id="burgers-eaten">
        <p class= "burgers-eaten-list">BURGERS EATEN</p>

            <ol id="devoured">
              {{#each burgers}}
                    {{> burger/burger-eaten devoured=this.devoured name=this.burger_name}}
              {{/each}}
          </ol>
    </div>


<div>
