body {
    background-color: #addfe0;
    max-height: 100%;
}

img {
    width:160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
}
.burger-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#burgerInput {
    width: 300px;
    height: 60px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #f05042;
    width: 130px;
    height: 40px;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 5px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.change-eat {
    background-color: #f05042;
    width: 60px;
    height: 30px;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.burgers-eaten {
    float: right;
    vertical-align: top;
    margin-right: 40px;
}

.burgers-eaten-list {
    font-family: 'Montserrat',
    sans-serif; font-size: 16px;
    margin-bottom: 10px;
    margin-left: 175px;

}

#burgerInput {
    padding-left: 20px;
    padding-top: 40px;
    font-size: 15px;
}
/* .each-burgers{
    width: 300px;
    margin-bottom: 20px;
    height: 40px;
    background-color: white;
    font-family: 'montserrat', sans-serif; font-size:12px;
    margin-left: 40px;
    padding: 0px;
} */

.burgers-to-eat {
    margin-left: 52px;
    font-style: bold;
}

#burgerToEat {
    width: 400px;
    margin: 0px;
    padding: 0px;
    float: left;
}

ol {
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-bottom: 10px;
    height: 30px;
    padding-left:10px;
    padding-top: 10px;
    list-style-position: inside;
}

.bottom {
    width: 350px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    margin-bottom: 10px;
    margin-left: 40px;
    height: 30px;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 12px;
}

#burgers-eaten {
    float: right;
    vertical-align: top;
    margin-right: 40px;
}

.devoured {
    width: 350px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    height: 30px;
    padding-left:20px;
    padding-top: 14px;
    padding-bottom: 10px;
    margin-left: -60px;
    margin-bottom: 10px;
}

}
