{{#unless devoured}}
<li style= "width: 300px; background-color: white; font-family: 'Montserrat', sans-serif; font-size:12px; margin-bottom: 10px; padding: 7px;">
	{{name}}
	<button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}" style= "background-color: #f05042; width: 60px; height; 100px; padding: 7px; font-family: 'Montserrat', sans-serif; color: white; font-size: 10px;  margin-left: 10px; letter-spacing: 1px;">
		EAT IT!
	</button>
</li>
{{/unless}}
