{{#unless devoured}}
<li>
	{{name}}
	<button class="change-eat" data-id="{{id}}" data-neweat="{{devoured}}">
		EAT IT!
	</button>
</li>
{{/unless}}


<!-- //create an ajax that is a put and change devoured from 0 to 1 -->
